@model IEnumerable<Gra_przegladarkowa.Models.Character.Profession>

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="~/css/CreateCharacter/index.css" />
}


<div class="container text-center page">
    <form asp-controller="CreateCharacter" asp-action="CreateCharacter" method="post">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="col-12 characterNameText"><h1>Witaj przybyszu!</h1></div>
                <label for="nameCharacterInput">Wpisz swoją nazwę:</label>
                <input type="text" class="form-control" placeholder="Wpisz swoją nazwe..." required="required"  name="nameCharacterInput">
            </div>
        </div>


        <!-- pole wyboru postaci-->
        <div class="row justify-content-center chooseCharacter">

            <!-- generowanie card postaci -->
            @foreach (var profession in Model)
            {
                <div class="col-lg-4 col-sm-6 justify-content-center">
                    <div class="card">
                        <div class="circle">
                            <img src="@profession.ImageProfessionName2" class="img-fluid" />
                        </div>
                        <div class="content">
                            <h1>@profession.NameProfession</h1>
                            <p>
                                @profession.Description
                            </p>
                            <input type="hidden" value="@profession.NameProfession" name="choosenCharacter"/> 
                            <button type="submit">Wybierz</button>
                           
                        </div>
                    </div>
                </div>
            }

        </div>

    </form>
</div>