
@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="~/css/CreateCharacter/index.css" />
}


<div class="container text-center page">
    <div class="row">
        <div class="col-12">Wybierz swoją nazwę:</div>
        <div class="col-12"><input /></div>
    </div>


    <!-- generowane będzie potem z automatu-->
    <div class="row">
        <div class="col-md-4">Wojownik</div>
        <div class="col-md-4">Barbażyńca</div>
        <div class="col-md-4">Zabójca</div>
        <div class="col-md-4">Łucznik</div>
        <div class="col-md-4">Adept</div>
        <div class="col-md-4">Druid</div>
    </div>
   

</div>