body {
}

/** background start**/
body, main::before {
    background: url("../../images/CreateCharacter/background3.jpg") 0/cover fixed;
    font-family: 'Lato', sans-serif;
    
}
/** background end**/

/** page start **/
.page {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.characterNameText{
    margin-top: 1rem;
}

#characterNameInput {
    margin-top: 2rem;
}

label, .characterNameText {
    font: 142%/1.6 Baskerville, Palatino, serif;
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
/** page end **/


/** card second character start **/
.row .card{
    margin: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    overflow: hidden;   
}

.card .circle {
    width: 100%;
    clip-path: circle(180px at center 0);
    background-color: rgba(0,0,0, 0.7);
    overflow: hidden;
}
.card .content{
    margin-top: -5rem;
}
.card p{
    color: #111;
    padding: .5rem;
}
.card .content button{
    position: relative;
    padding: 10px 20px;
    background-color: rgba(0,0,0, 0.7);
    margin-bottom: 1rem;
    border-radius: 4rem;
}
.card .content button a {
    text-decoration: none;
    color: white;
}
    /** card second character end **/