@page
@model EmailModel
@{
    ViewData["Title"] = "Zmiana adresu E-mail";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<h1 class="text-center h1s">Możesz tutaj zmienić swój adres E-mail</h1>
<br>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form class="col-lg-6 offset-lg-3 " id="email-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row justify-content-center">

        <div class="form-group">
            <label class="text-center labels">Dotychczasowy E-mail</label>
            <div class="input-group mb-3">
                <div class="soft-codeon">
                    <i class="fa fa-envelope-o fa-fw icon"></i>
                    <input placeholder="@Model.Email" class=" form-control soft-field" disabled />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Input.NewEmail" class="text-center labels"></label>
            <div class="soft-codeon">
                <i class="fa fa-user icon"></i>
                <input asp-for="Input.NewEmail" class="form-control soft-field" />
            </div>
        </div>

    </div>

    <div class="row justify-content-center form-group text-center">
        <button id="change-email-button" asp-page-handler="ChangeEmail" type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </div>

</form>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}