@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<h1 class="text-center h1s">Możesz tutaj pobrać lub usunąć swoje konto</h1>
<br>

<form class="col-lg-6 offset-lg-3 " id="download-data" asp-page="DownloadPersonalData" method="post">
    
    <div class="row justify-content-center">

        <div class="form-group">
            <label class="text-center labels">Pobierz dane</label>
            <center>
                <button class="btn btn-primary" type="submit">Pobierz</button>
            </center>
            
        </div>

    </div>

</form>




<form class="col-lg-6 offset-lg-3 mt-5" id="download-data" asp-page="DownloadPersonalData">

    <div class="row justify-content-center">

        <div class="form-group">
            <label class="text-center labels">Usuń konto</label>
            <center>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń konto</a>
            </center>
            
        </div>

    </div>

</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}