@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    <br>

    <h1>Tymczasowe linki</h1>

    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="nav-link" asp-area="" asp-controller="CreateCharacter" asp-action="Index">create character</a>


    <br>




</div>
