@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}




<div class=" h-100 container-fluid align-items-center">
    <div class="row align-items-center">
        <div class="col-lg-6 offset-md-3">
            <div class="card text-white bg-login">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <a class="text-center unactive nav-link" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
                        </div>
                        <div class="col-6">
                            <a class="text-center active nav-link" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
                        </div>
                        <hr>
                    </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-xl-12">

                            <form asp-route-returnurl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">

                                    <center>
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" placeholder="Email" value="" tabindex="1"> <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </center>
                                </div>

                                <div class="form-group">

                                    <center>
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" placeholder="Has&#x142;o"
                                               value="" tabindex="2"> <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </center>

                                </div>

                                <div class="form-group">

                                    <center>
                                        <label asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Has&#x142;o"
                                               value="" tabindex="2"> <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </center>

                                </div>

                               

                                <div class="form-group">
                                    <center>
                                        <button type="submit" tabindex="4" class="myButton2">Zarejestruj</button>
                                    </center>
                                </div>

                                <div class="form-group">
                                    <div class="row align-items-center">
                                        <div class="col-xl-12">
                                            <div class="text-center">
                                                <a class="forgot-password" asp-controller="About" asp-action="Rules">Rejestrując się automatycznie akceptujesz regulamin!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="~/css/account/loginregister.css" />

}
