@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Musisz aktywować konto!";
}


<div class="container ">
    <div class="row align-items-center">
        <div class="col-lg-6 mx-auto">
            <div class="card text-white bg-login">

                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-xl-12">

                            <footer>
                                <center>
                                    <p class="non-select" style="font-size: 35px;">


                                        <br><br>

                                        Aby aktywować konto musisz wejść na email i wejść w link aktywacyjny!

                                        <br><br><br>

                                    </p>
                                </center>
                            </footer>



                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="~/css/account/loginregister.css" />
}