@page
@model RegisterModel

@{
    ViewData["Title"] = "Rejestracja";
}

<header>
    <center>
        <h1 class="non-select">Ridentia - Rejestracja<br> </h1>
    </center>
</header>
<br />
<hr>

<div class="container ">
    <div class="row align-items-center">
        <div class="col-lg-6 mx-auto">
            <div class="card text-white bg-login">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <a class="text-center active nav-link" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
                        </div>
                        <div class="col-6">
                            <a class="text-center unactive nav-link" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-xl-12">

                            <form asp-route-returnurl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">

                                    <center>
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" placeholder="Email" value="" tabindex="1"> <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </center>
                                </div>

                                <div class="form-group">

                                    <center>
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" placeholder="Has&#x142;o"
                                               value="" tabindex="2"> <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </center>

                                </div>

                                <div class="form-group">

                                    <center>
                                        <label asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Has&#x142;o"
                                               value="" tabindex="2"> <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </center>

                                </div>



                                <div class="form-group">
                                    <center>
                                        <button type="submit" tabindex="4" class="myButton2">Zarejestruj</button>
                                    </center>
                                </div>

                                <div class="form-group">
                                    <div class="row align-items-center">
                                        <div class="col-xl-12">
                                            <div class="text-center">
                                                <a class="forgot-password" asp-controller="About" asp-action="Rules">Rejestrując się automatycznie akceptujesz regulamin!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <hr>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <center>
                <p class="non-select">
                    „Ridentia” jest Polską grą przeglądarkową wykonywaną przez studio Arbato. <br />
                    Świat ten łączy historię, legendę i fantazję, tworząc żywe środowisko gry RPG.<br />
                    Fabuła gry jest osadzona w świecie fantazyjnym, którą zamieszkują mężni wojownicy, odważni barbarzyńcy, celni łucznicy, bezszelestni zabójcy, leczący druidzi, magiczni magowie.
                    Każdy z nich posiada inną paletę ekwipunku i ataków specjalnych.<br /><br>



                    <ul>
                        <li class="non-select text-light">Staw czoła potężnym potworom, a także innym przeciwnikom na arenie.</li>
                        <li class="non-select text-light">Wykonuj różne, niebezpieczne misje, które będą dostarczać nagrody.</li>
                        <li class="non-select text-light">Zdobywaj złoto i ekwipunek niezbędny do walk.</li>
                        <li class="non-select text-light">Zbierz drużynę, która będzie walczyć u Twojego boku.</li>
                    </ul>

                    <br />

                </p>
            </center>
        </footer>

    </div>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="~/css/account/loginregister.css" />
}