@page
@model ResetPasswordModel

@{
    ViewData["Title"] = "Resetowanie hasła";
}

<h1 class="non-select text-center">Ridentia - Resetowanie hasła<br> </h1>

<hr>

<div class="row justify-content-center ">

    <center>
        <p class="non-select">
            <ul class="nav justify-content-center">
                <li class="nav-item non-select">
                    „Ridentia” jest Polską grą przeglądarkową wykonywaną przez studio Artoba.<br>
                </li>
                <li class="nav-item non-select">
                    Świat ten łączy historię, legendę i fantazję, tworząc żywe środowisko gry RPG.<br>
                </li>
                <li class="nav-item non-select">
                    Fabuła gry jest osadzona w świecie fantazyjnym, którą zamieszkują mężni wojownicy, odważni barbarzyńcy, celni łucznicy, bezszelestni zabójcy, leczący druidzi, magiczni magowie.
                    Każdy z nich posiada inną paletę ekwipunku i ataków specjalnych.<br>
                </li>
            </ul>
        </p>
    </center>


    <div class="row align-items-center">
        <div class="col-lg-6 mx-auto">
            <div class="card text-white bg-login">




                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-xl-12">

                            <!--     Captcha       -->
                            @addTagHelper *, Owl.reCAPTCHA
                            <!--     Captcha       -->

                            <form method="post">


                                <input asp-for="Input.Code" type="hidden" />

                                <div class="form-group">
                                    <div class="text-dangers"> @ViewData["ResetPasswordMessage"]</div>
                                </div>


                                <!--     Captcha       -->
                                <input type="hidden" asp-for="Input.token" id="token">
                                <!--     Captcha       -->

                                <input asp-for="Input.Code" type="hidden" />


                                <div class="form-group">

                                    <center>
                                        <label>Wpisz swój E-mail</label>

                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fa fa-envelope-o fa-fw"></i></span>
                                            <input asp-for="Input.Email" class="form-control" placeholder="E-mail" value="" tabindex="1">
                                        </div>

                                        <span asp-validation-for="Input.Email" class=" text-dangers"></span>
                                    </center>

                                </div>

                                <div class="form-group">

                                    <center>
                                        <label asp-for="Input.Password"></label>

                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fa fa-unlock"></i></span>
                                            <input asp-for="Input.Password" class="form-control" placeholder="Hasło" value="" tabindex="2">
                                        </div>

                                        <span asp-validation-for="Input.Password" class="text-dangers"></span>
                                    </center>

                                </div>

                                <div class="form-group">

                                    <center>
                                        <label asp-for="Input.ConfirmPassword"></label>

                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fa fa-unlock"></i></span>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Hasło" value="" tabindex="2">
                                        </div>

                                        <span asp-validation-for="Input.ConfirmPassword" class="text-dangers"></span>
                                    </center>

                                </div>

                                <hr>

                                <div class="form-group">
                                    <center>
                                        <button type="submit" tabindex="4" class="text-center unactive nav-link w-auto">Resetuj hasło</button>
                                    </center>
                                </div>

                                <hr>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <center>
            <p class="non-select">
                <ul class="nav justify-content-center">
                    <li class="non-select">
                        <i class="fa fa-angle-double-right"></i><span class="ml-2">Staw czoła potężnym potworom, a także innym przeciwnikom na arenie.a<br></span>
                    </li>
                    <li class="non-select">
                        <i class="fa fa-angle-double-right"></i><span class="ml-2">Wykonuj różne, niebezpieczne misje, które będą dostarczać nagrody.<br></span>
                    </li>
                    <li class="non-select">
                        <i class="fa fa-angle-double-right"></i><span class="ml-2">Zdobywaj złoto i ekwipunek niezbędny do walk.<br></span>
                    </li>
                    <li class="non-select">
                        <i class="fa fa-angle-double-right"></i><span class="ml-2">Zbierz drużynę, która będzie walczyć u Twojego boku.</span><br>
                    </li>
                </ul>
            </p>
        </center>


        <!--     Captcha       -->
        <recaptcha-script-v3 />
        <!--     Captcha       -->


    </div>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="~/css/account/loginregister.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!--     Captcha       -->
    <script>
        function callback(token) {
            document.getElementById("token").value = token;
        }
    </script>
    <recaptcha-script-v3-js action="login" callback="callback" />
    <!--     Captcha       -->

}