@{
    ViewData["Title"] = "Praca";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/work/work.js"></script>
}



<div class="text-center">


    <br>

    <h1>
        Będziesz mógł ukończyć pracę o dacie:
        <span id="expireData">@ViewData["expireDate"]</span>
    </h1>
    <a href="@Url.Action("Cancel","Work")" type="submit" class="btn btn-danger">Anuluj</a>


    <p id="dateCount"></p>




</div>
